* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Roboto;
}

.btn-purple {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn-purple--explorer {
  width: 218px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 13px 0;
  gap: 42px;
  flex-shrink: 0;
}
.header__logo {
  width: 197px;
  height: 36px;
}
.header__goback {
  color: black;
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .header {
    position: unset;
  }
  .header__logo {
    position: unset;
    width: 200px;
    height: 34.202px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 30px 0 30px 0;
  }
}

.header--shadow {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  /*   @media (min-width: 1024px){

  } */
}
@media (min-width: 768px) {
  .header--shadow {
    position: unset;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
.footer__img {
  height: 27px;
}
@media (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 54px;
    padding: 30px 67px;
    justify-content: end;
    align-items: end;
    gap: 2vw;
    flex-direction: row-reverse;
  }
  .footer__img {
    height: unset;
    width: 97px;
  }
}

.footer-content {
  width: 100%;
}
.footer-content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  list-style-type: none;
}
.footer-content__link {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.footer-content__p {
  font-size: 16px;
}
.footer-content__i {
  width: 20px;
}
@media (min-width: 768px) {
  .footer-content {
    width: unset;
  }
  .footer-content__list {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .footer-content__p {
    width: 130px;
  }
  .footer-content__p--pi {
    width: 168px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #eaeaea;
}
.location__i {
  font-size: 18px;
}
.location__p {
  font-size: 16px;
}

.explorer {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  height: 287px;
}
.explorer__h2 {
  width: 275px;
  height: 68px;
  text-align: center;
  font-size: 24px;
}
.explorer__p {
  margin-bottom: 27px;
  width: 315px;
  height: 46px;
  text-align: center;
}
@media (min-width: 768px) {
  .explorer {
    gap: 30px;
  }
  .explorer__h2 {
    width: 100%;
    height: unset;
  }
  .explorer__p {
    width: 100%;
    height: unset;
    margin-bottom: unset;
  }
}
@media (min-width: 1024px) {
  .explorer {
    height: 239px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  gap: 24.94px;
  margin-left: 12.51px;
}
.fonctionnement__h2 {
  margin: 48px 80px 27.06px 20px;
  width: 275px;
  height: 31px;
}
.fonctionnement__block-btn {
  display: flex;
  flex-direction: column;
  gap: 24.94px;
}
.fonctionnement__btn {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 20px;
  background-color: #f6f6f6;
  height: 72.379px;
  border-radius: 20px;
}
.fonctionnement__txt-i {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 280px;
  width: 80%;
}
.fonctionnement__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  left: 21px;
  height: 24px;
  width: 24px;
  border-radius: 90px;
  background-color: #9356dc;
}
.fonctionnement__i {
  display: flex;
  align-items: center;
}
.fonctionnement__i--purple {
  color: #9356dc;
}
@media (min-width: 768px) {
  .fonctionnement {
    margin: 50px 50px;
    height: unset;
  }
  .fonctionnement__h2 {
    margin: unset;
  }
  .fonctionnement__block-btn {
    margin-left: 12.5px;
    flex-direction: row;
  }
  .fonctionnement__txt-i {
    margin-left: 10px;
    width: 100%;
    max-width: 225px;
  }
  .fonctionnement__btn {
    width: 33%;
    margin: unset;
  }
  .fonctionnement__num {
    left: unset;
  }
  .fonctionnement__num--1 {
    left: 4.5vw;
  }
  .fonctionnement__num--2 {
    left: 35vw;
  }
  .fonctionnement__num--3 {
    left: 65vw;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    margin: 50px 180px;
  }
  .fonctionnement__block-btn {
    gap: 35px;
  }
  .fonctionnement__txt-i {
    max-width: 225px;
  }
  .fonctionnement__btn {
    justify-content: unset;
  }
  .fonctionnement__num {
    margin-left: -13px;
  }
  .fonctionnement__num--1 {
    left: unset;
  }
  .fonctionnement__num--2 {
    left: unset;
  }
  .fonctionnement__num--3 {
    left: unset;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 20px;
}
.restaurants__h1 {
  font-size: 24px;
  margin: 54px 0 0 20px;
}
.restaurants__choix {
  display: flex;
  flex-direction: column;
  margin: 0 17px 66px 17px;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 70px;
  }
  .restaurants__choix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: unset;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 30px 180px;
  }
}

.link-card {
  width: 100%;
}
@media (min-width: 768px) {
  .link-card {
    width: 45%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card__img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__new {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  font-size: 14px;
  margin: 30px 20px 0 0;
  background-color: #99e2d0;
  height: 20px;
  right: 20px;
  color: #008766;
}
@media (min-width: 768px) {
  .card {
    width: 100%;
  }
  .card__new--1 {
    left: 33vw;
  }
  .card__new--2 {
    left: 78vw;
  }
  .card__img {
    height: 174px;
  }
}
@media (min-width: 1024px) {
  .card__new--1 {
    left: 35vw;
  }
  .card__new--2 {
    left: 74vw;
  }
}

/* @media (min-width: 768px) {

}
  @media (min-width: 1024px){

} */
.card-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 16px 25px 12px 13px;
  border-radius: 0 0 15px 15px;
}
.card-component__heart {
  font-size: 24px;
  display: flex;
  align-items: center;
}
.card-component__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-component__h3 {
  font-size: 18px;
}
.card-component__p {
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
