//animation bouton violet
.animation__btn-purple {
  transition: all 500ms ease-in-out;
  &:hover {
    opacity: 85%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
//animation coeur
.heart {
  &__empty {
    position: absolute;
    z-index: 1;
    opacity: 1;
    :active {
      opacity: 0;
    }
  }
  &__full {
    position: absolute;
    z-index: 2;
    opacity: 0;
    &:hover {
      animation: full-heart 300ms forwards;
      // opacity: 1;
    }
  }
}
@keyframes full-heart {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
    animation-timing-function: cubic-bezier(0.63, 0.38, 0.28, 0.92);
  }
  100% {
    opacity: 1;
  }
}
// animation loader
.loader {
  animation: backgroundloader 4000ms ease-in-out forwards;
  &__letter {
    animation: loader-mobile 1000ms ease forwards;
  }
  @media (min-width: 768px) {
    &__letter {
      animation: loader 1000ms ease forwards;
    }
  }
}
@keyframes backgroundloader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(4);
  }
}
@keyframes loader-mobile {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

// animation menu

.menu__btn:hover {
  .menu__background-check {
    display: flex;
    animation: check 300ms ease-in-out forwards;
  }
  .menu__price {
    animation: check 300ms ease-in-out forwards;
  }
}
@keyframes check {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
