$grey_location: #eaeaea;
$grey_background: #f6f6f6;
$grey_footer: #353535;
$purple: #9356dc;
$pink: #ff79da;
$purple--gradient: $purple -11.44%;
$pink--gradient: $pink 123.93%;
$vert: #99e2d0;
$vert--text: #008766;
