// banniere
.banner {
  &__img {
    z-index: -1;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 275px;
  }
}
// la palette du gout
.la-palette-du-gout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -58px;
  background-color: $grey_background;
  border-radius: 40px 40px 0 0;
  padding: 0 13px;
  @media (min-width: 768px) {
    margin: -58px 80px 0 80px;
    padding: 0px 4%;
  }
  @media (min-width: 1024px) {
    margin: -58px 192px 0 192px;
    padding: 0px 11%;
  }
}
.title {
  display: flex;
  flex-direction: row;
  margin: 31px 17px 0 4px;

  &__h1 {
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 400;
  }
  &__heart {
    position: absolute;
    right: 63px;
    margin-top: 9px;
  }

  @media (max-width: 374px) {
    &__h1 {
      font-size: 26px;
    }
    &__heart {
      right: 43px;
      margin-top: 7px;
    }
  }
  @media (min-width: 768px) {
    justify-content: center;
    gap: 24px;
    &__heart {
      position: unset;
    }
  }
  @media (min-width: 1024px) {
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    &--green {
      padding-bottom: 4px;
      border-bottom: solid 3px #99e2d0;
    }
  }
  &__block-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__btn {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    // padding: 15px;
    border-radius: 15.043px;
    background-color: white;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  }
  &__food-and-ingredient {
    padding: 15px 0 15px 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__name-food {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }
  &__ingredient {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15.043px;
  }
  &__price {
    padding: 15px 15px 15px 0;
    display: flex;
    transform-origin: right;
    align-items: end;
    transform: translateX(100%);
  }
  &__price-and-check {
    display: flex;
  }
  // display none pour la version non cliquer a voir apres
  &__background-check {
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
    border-radius: 0 15.043px 15.043px 0;
    width: 59px;
    background-color: #99e2d0;
  }
  &__check {
    color: white;
  }
}

.commander {
  display: flex;
  justify-content: center;
  background-color: $grey_background;
  padding: 40px 0;
  .btn-purple--commander {
    width: 186px;
    height: 50px;
  }
  @media (min-width: 768px) {
    margin: 0 80px;
  }
  @media (min-width: 1024px) {
    margin: 0 192px;
  }
}
