// partie localisation
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;

  background-color: $grey_location;
  &__i {
    font-size: 18px;
  }
  &__p {
    font-size: 16px;
  }
}
// partie explorer nos restaurant
.explorer {
  display: flex;
  flex-direction: column;
  background-color: $grey_background;
  justify-content: center;
  align-items: center;
  height: 287px;
  &__h2 {
    width: 275px;
    height: 68px;
    text-align: center;
    font-size: 24px;
  }
  &__p {
    margin-bottom: 27px;
    width: 315px;
    height: 46px;
    text-align: center;
  }
  @media (min-width: 768px) {
    gap: 30px;
    &__h2 {
      width: 100%;
      height: unset;
    }
    &__p {
      width: 100%;
      height: unset;
      margin-bottom: unset;
    }
  }
  @media (min-width: 1024px) {
    height: 239px;
  }
}
// partie fonctionnement
.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  gap: 24.94px;
  margin-left: 12.51px;
  &__h2 {
    margin: 48px 80px 27.06px 20px;
    width: 275px;
    height: 31px;
  }
  &__block-btn {
    display: flex;
    flex-direction: column;
    gap: 24.94px;
  }
  &__btn {
    @include shadow;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 20px;
    background-color: $grey_background;
    height: 72.379px;
    border-radius: 20px;
  }
  &__txt-i {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 280px;
    width: 80%;
  }
  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    left: 21px;
    height: 24px;
    width: 24px;
    border-radius: 90px;
    background-color: $purple;
  }
  &__i {
    display: flex;
    align-items: center;
    &--purple {
      color: $purple;
    }
  }

  @media (min-width: 768px) {
    margin: 50px 50px;
    height: unset;
    &__h2 {
      margin: unset;
    }
    &__block-btn {
      margin-left: 12.5px;
      flex-direction: row;
    }
    &__txt-i {
      margin-left: 10px;
      width: 100%;
      max-width: 225px;
    }
    &__btn {
      width: 33%;
      margin: unset;
    }
    &__num {
      left: unset;
    }
    &__num--1 {
      left: 4.5vw;
    }
    &__num--2 {
      left: 35vw;
    }
    &__num--3 {
      left: 65vw;
    }
  }
  @media (min-width: 1024px) {
    margin: 50px 180px;
    &__p {
      white-space: nowrap;
    }
    &__block-btn {
      gap: 35px;
    }
    &__txt-i {
      display: flex;
      max-width: 275px;
      justify-content: space-evenly;
    }
    &__btn {
      justify-content: unset;
    }
    &__num {
      margin-left: -13px;
    }
    // NUM A VERRIFIER (position absolute ou margin negatif)
    &__num--1 {
      left: unset;
    }
    &__num--2 {
      left: unset;
    }
    &__num--3 {
      left: unset;
    }
  }
}

// partie restaurants
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $grey_background;
  gap: 20px;
  &__h1 {
    font-size: 24px;
    margin: 54px 0 0 20px;
  }
  &__choix {
    display: flex;
    flex-direction: column;
    margin: 0 17px 66px 17px;
    gap: 18px;
  }
  @media (min-width: 768px) {
    padding: 30px 70px;
    &__choix {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px;
      margin: unset;
    }
  }
  @media (min-width: 1024px) {
    padding: 30px 180px;
  }
}
.link-card {
  width: 100%;
  @media (min-width: 768px) {
    width: 45%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  &__new {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    font-size: 14px;
    margin: 30px 20px 0 0;
    background-color: $vert;
    height: 20px;
    right: 20px;
    color: $vert--text;
  }

  @media (min-width: 768px) {
    width: 100%;
    &__new--1 {
      left: 33vw;
    }
    &__new--2 {
      left: 78vw;
    }
    &__img {
      height: 174px;
    }
  }

  @media (min-width: 1024px) {
    &__new--1 {
      left: 35vw;
    }
    &__new--2 {
      left: 74vw;
    }
  }
}
/* @media (min-width: 768px) {
    
}
  @media (min-width: 1024px){

} */
.card-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 16px 25px 12px 13px;
  border-radius: 0 0 15px 15px;
  &__heart {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__h3 {
    font-size: 18px;
  }
  &__p {
    font-size: 17px;
  }
}
