.btn-purple {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  @include gradient-purple($purple--gradient, $pink--gradient);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  &--explorer {
    width: 218px;
    height: 50px;
  }
}
.heart {
  z-index: 2;
  border: unset;
  font-size: 24px;
  &__full {
    &::before {
      @include gradient-purple($purple--gradient, $pink--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @media (min-width: 768px) {
    width: unset;
    height: 0;
  }
  @media (min-width: 1024px) {
    height: 0;
  }
}
