.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  padding: 14px 89px 13px 89px;
  gap: 42px;
  flex-shrink: 0;
  &__logo {
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
  }
  &__goback {
    color: black;
    width: 30px;
    height: 30px;
  }
}
